<!DOCTYPE html>

<html>
    <title>Help</title>
    <head>

        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/app.js"> </script>

    </head>

    <body>
        {{>header}}

        <h1>This is {{title}} page</h1>
        <p>{{desc}}</p>
        {{>footer}}
    </body>

</html>